.git
.gitignore
.editorconfig
.prettierrc.json
.prettierignore
**/node_modules
**/dist
**/build
**/coverage
**/.turbo
**/*.tsbuildinfo
**/data
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm
**/*.log
.env
.env.*
!.env.example
docs
README.md
CHANGELOG.md
LICENSE
